dialog {
    border: none;
}

#icon {
    font-size: 300%;
    font-family: 'Source Serif Pro', serif;
    letter-spacing: 0.1rem;
    padding: 1rem 2.5rem 1rem 1rem;
    margin: 2.5rem auto 10rem;
    width: 95%;
    max-width: 550px;
}

#icon b {
    font-weight: 900;
}

#icon u {
    font-weight: 600;
}

#icon i {
    letter-spacing: 0.15rem;
}

dialog button {
    font-size: 200%;
    float: right;
}

@media screen and (max-width: 750px) {
    #icon {
        font-size: 7.5vw;
        letter-spacing: 0.25vw;
        margin: 5% auto 20%;
    }

    #icon i {
        letter-spacing: 0.5vw;
    }
}