html {
  height: -webkit-fill-available;
}

body {
  padding: 0;
  margin: 0;
}

a  {
  color: #000;
  background-blend-mode: difference;
  text-decoration: none;
  transition: 2.5s;
}

a:hover  {
  filter: invert(.5);
}

.center {
  font-size: 125%;
  place-self: center;
  max-width: 75%;
}

.strong {
  font-size: 125%;
}

.end {
  width: 100%;
  place-self: end;
}

.mousedragscrollable,
.mousedragscrollable li {
  margin: 0;
  padding: 0;
}

.mousedragscrollable::-webkit-scrollbar-thumb,
.mousedragscrollable li::-webkit-scrollbar-thumb {
  background: #000;
  border-radius: 4vh;
}

.mousedragscrollable::-webkit-scrollbar,
.mousedragscrollable li::-webkit-scrollbar {
  width: 4vh;
  height: 4vh;
}

.mousedragscrollable {
  list-style: none;
  white-space: nowrap;
  overflow: auto;
  height: 100vh;
  max-height: -webkit-fill-available;
  -webkit-overflow-scrolling: touch;
}

.mousedragscrollable > * {
  display: inline-block;
}

.mousedragscrollable li {
  background-repeat: no-repeat;
  width: 90%;
  height: 97.5%;
  max-width: 750px;
  overflow: auto;
  white-space: normal;
}

.mousedragscrollable section {
  display: grid;
  font-size: 90%;
  padding: 1rem;
  height: 100%;
}

@media screen and (max-width: 550px) {
  .mousedragscrollable {
    font-size: 3.21vw;
  }
}