html {
  height: -webkit-fill-available;
}

a  {
  color: var(--text-color);
  background-blend-mode: difference;
  text-decoration: none;
  transition: 2.5s;
}

a:hover  {
  filter: invert(.5);
}

.mousedragscrollable,
.mousedragscrollable li {
  margin: 0;
  padding: 0;
}

.mousedragscrollable::-webkit-scrollbar-thumb,
.mousedragscrollable li::-webkit-scrollbar-thumb {
  background: #000;
  border-radius: 4vh;
}

.mousedragscrollable::-webkit-scrollbar,
.mousedragscrollable li::-webkit-scrollbar {
  width: 4vh;
  height: 4vh;
}

.mousedragscrollable {
  list-style: none;
  white-space: nowrap;
  overflow: auto;
  height: 95vh;
  max-height: -webkit-fill-available;
  -webkit-overflow-scrolling: touch;
}

.mousedragscrollable>* {
  display: inline-block;
}

.mousedragscrollable li {
  background-repeat: no-repeat;
  width: 90%;
  height: 99%;
  max-width: 750px;
  overflow: auto;
  position: relative;
  white-space: normal;
}

.mousedragscrollable section {
  font-size: 90%;
  padding: 1rem 10% 1rem 1rem;
  margin: auto;
}

.mousedragscrollable .date,
.mousedragscrollable .bottom {
  position: absolute;
}

.mousedragscrollable .date {
  top: 2.5rem;
  right: 1rem;
}

.mousedragscrollable .bottom {
  left:0;
  right: 0;
  bottom: 0;
  width: 100%;
}

@media screen and (max-width: 750px) {

  .mousedragscrollable h1 {
    font-size: 5.5vw;
  }

  .mousedragscrollable h2 {
    font-size: 3.5vw;
  }

  .mousedragscrollable h3 {
    font-size: 3.21vw;
  }

  .mousedragscrollable p {
    font-size: 2.5vw;
  }

  .mousedragscrollable span {
    padding: 0.25vw 1vw;
    margin: 0.5vw;
  }

  .mousedragscrollable .tt {
    padding: 5vw 15vw 5vw 7.5vw;
    width: 80%;
  }

  .mousedragscrollable .top,
  .mousedragscrollable .bottom {
    padding: 2.5vw 7.5vw;
  }

  .mousedragscrollable .date {
    top: 5vw;
    right: 2.5vw;
  }
}

@media screen and (max-width: 550px) {

  .mousedragscrollable h1 {
    font-size: 7vw;
  }

  .mousedragscrollable h2 {
    font-size: 4.5vw;
  }

  .mousedragscrollable h3 {
    font-size: 3.5vw;
  }

  .mousedragscrollable p {
    font-size: 3vw;
  }

  .mousedragscrollable .tt {
    padding: 5vw 12.5vw 2.5vw 5vw;
    width: 90%;
  }
}

#back  {
  font-size: 250%;
  margin: 2.5%;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 100;
}

@media screen and (min-width: 750px) {
  #back {
    margin: 1rem;
  }
}
