html {
    font-size: 16px;
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

hr {
    border: none;
    padding: 5%;
    margin: 5%;
}

@font-face {
    font-family: "YuGothic";
    src: url(fonts/YuGothR.ttc),
        url(fonts/YuGothM.ttc),
        url(fonts/YuGothL.ttc),
        url(fonts/YuGothB.ttc);
}

h1,
.ja,
.ja_app {
    font-family: "YuGothic", "Yu Gothic", "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
}

h2,
.en,
.en_app {
    font-family: 'Source Serif Pro', serif;
}

h2 {
    padding: 0;
    margin: 0;
}

h1,
.ja_app {
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    height: 100%;
}

h1 {
    font-size: 75%;
    letter-spacing: 0.05rem;
    margin: 5%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
}

h2 {
    font-size: 100%;
    font-weight: 500;
}

#app {
    padding: 2.5% 7.5%;
}

#links {
    font-size: 90%;
    padding: 0.75rem;
}

#links strong,
#links a {
    display: inline-block;
    padding: 0.125rem 0;
    margin: 0.25rem;
}

#links a {
    border-bottom: solid 1px;
    font-size: 111%;
}

.ja_app {
    font-size: 90%;
    padding: 1rem;
    margin: auto;
    width: 90%;
    height: 75%;
    max-width: 1000px;
    max-height: 550px;
    overflow: auto;
}

.en_app {
    font-size: 100%;
    padding: 0;
    margin: 10% auto 15%;
    width: 75%;
    max-width: 750px;
}

header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    padding: 0.25rem 2.5rem 0.25rem 0.25rem;
    margin: 2.5%;
}
