dialog {
    border: none;
}

#icon {
    font-size: 300%;
    font-family: 'Source Serif Pro', serif;
    letter-spacing: 0.1rem;
    padding: 1rem 2.5rem 1rem 1rem;
    margin: 2.5rem auto 10rem;
    width: 95%;
    max-width: 550px;
}

#icon b {
    font-weight: 900;
}

#icon u {
    font-weight: 600;
}

#icon i {
    letter-spacing: 0.15rem;
}

dialog {
    width: 100%;
    height: 100%;
}

dialog button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    font-size: 200%;
    position: fixed;
    bottom: 1.5rem;
    right: 1.5rem;
}

@media screen and (max-width: 750px) {
    #icon {
        font-size: 7vw;
        letter-spacing: 0.25vw;
        padding: 2.5vw 5vw 2.5vw 2.5vw;
        margin: 5% auto 20%;
    }

    #icon i {
        letter-spacing: 0.5vw;
    }
}