header {
    padding: 1rem 10% 1rem 1rem;
    width: 100%;
}

main a,
footer a {
    color: inherit;
    text-decoration: none;
}

header input[type="radio"],
.hidden #index,
.hidden #appreciate,
.hidden footer,
main a[hidden],
#appreciate button[hidden] {
    display: none;
}

.hidden form {
    display: block;
}

#index,
main,
#appreciate {
    font-family: 'Source Serif Pro', serif;
}

#index label {
    text-transform: capitalize;
}

button,
#index label,
main a {
    appearance: none;
    background: transparent;
    border-radius: 0.5rem;
    outline: none;
    display: inline-block;
}

button,
#index label {
    font-family: inherit;
    padding: 0.25rem 0.5rem;
}

main a,
#appreciate button {
    padding: 0.75rem 1rem;
}

button,
strong,
footer a {
    font-size: 111%;
    font-weight: 500;
}

button,
main a {
    border: 1px solid transparent;
    color: #000;
    transition: 2.5s all;
}

#index label {
    font-size: 100%;
    border: 1px solid;
    transition: 2.5s all;
}

button:hover,
#index label:hover,
#index input[type="radio"]:checked+label {
    color: #fff;
    background: red;
}

button:hover,
#index label:hover,
#index input[type="radio"]:checked+label,
main a:hover {
    border: 1px solid red;
    cursor: pointer;
    transition: 1.5s all;
}

header nav,
footer {
    display: flex;
    gap: 0.25rem;
    flex-flow: wrap;
}

header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    place-self: self-start;
}

footer {
    align-items: end;
    justify-content: space-between;
}

header nav {
    margin: 0.25rem 0;
}

h1 {
    border-left: solid 1px red;
    padding-left: 0.125em;
    transition: 2.5s all;
}

h1:hover {
    border-left: solid 1px #000;
    color: red;
    cursor: pointer;
    transition: 1s all;
}

main {
    padding: 0 7.5% 0 0;
}

main,
#appreciate {
    display: flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
    place-self: start;
    margin: 2rem auto;
    width: 95.5%;
    max-width: 1550px;
}

main a,
#appreciate button {
    text-align: left;
    flex-grow: 1;
    -webkit-flex-grow: 1;
    margin: 0.5rem;
    width: calc(25% - 1rem);
}

@media screen and (max-width: 1200px) {

    main a,
    #appreciate button {
        width: calc(30% - 1rem);
    }
}

@media screen and (max-width: 900px) {

    main a,
    #appreciate button {
        width: calc(50% - 1rem);
    }
}

@media screen and (max-width: 550px) {

    main a,
    #appreciate button {
        width: calc(100% - 1rem);
    }
}