html {
    font-size: 16px;
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

hr {
    border: none;
    padding: 5%;
    margin: 5%;
}

@font-face {
    font-family: "YuGothic";
    src: url(fonts/YuGothR.ttc),
        url(fonts/YuGothM.ttc),
        url(fonts/YuGothL.ttc),
        url(fonts/YuGothB.ttc);
}

h1,
.ja,
.ja_app {
    font-family: "YuGothic", "Yu Gothic", "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
}

h2,
.en,
.en_app {
    font-family: "Source Serif Pro", serif;
}

h2 {
    padding: 0;
    margin: 0;
}

h1,
.vertical,
.ja_app {
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
}

h1 {
    font-size: 75%;
    letter-spacing: 0.05rem;
}

h2 {
    font-size: 100%;
    font-weight: 500;
}

h3.vertical {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 95%;
    margin: 1rem 0.5rem;
}

#links {
    font-size: 90%;
    padding: 0.75rem;
}

#links strong,
#links a {
    display: inline-block;
    padding: 0.125rem 0;
    margin: 0.25rem;
}

#links a {
    border-bottom: solid 1px;
    font-size: 111%;
}

h1 {
    margin: 2.5% 4%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
}

.ja_app {
    font-size: 90%;
    padding: 1rem 1rem 7.5%;
    margin: 1rem auto;
    width: 85%;
    height: 85%;
    max-width: 1000px;
    max-height: 700px;
    overflow: auto;
}

.en_app {
    font-size: 100%;
    padding: 1rem;
    margin: 2.5rem auto 5rem;
    width: 90%;
    max-width: 750px;
}

@media screen and (max-width: 900px) {
    h1 {
        margin: 4.5% 3%;
    }
}

@media screen and (max-width: 550px) {
    h1 {
        margin: 5% 2.5%;
    }

    .ja_app {
        margin: 1rem 15% 1rem auto;
    }

    .en_app {
        margin: 10% 10% 15% auto;
    }
}

dialog #bgImg {
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0 auto 5% 2.5%;
    width: 90%;
    height: 95%;
}

header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    padding: 0.25rem 2.5rem 0.25rem 0.25rem;
    margin: 2.5%;
}
