h1 {
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
}

h1 {
    margin: 2.5% 4%;
    font-size: 75%;
    letter-spacing: 0.05rem;
}

@font-face {
    font-family: "YuGothic";
    src: url(../profile/css/fonts/YuGothR.ttc),
        url(../profile/css/fonts/YuGothM.ttc),
        url(../profile/css/fonts/YuGothL.ttc),
        url(../profile/css/fonts/YuGothB.ttc);
}

[data-lang='ja'] {
    font-family: "YuGothic", "Yu Gothic", "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
}

h3 {
    font-size: 90%;
    line-height: 111%;
}

article section {
    font-size: 85%;
    line-height: 175%;
}

h1 strong {
    font-size: 111%;
}

h3 strong,
h3 small {
    display: block;
}

h1 {
    position: absolute;
    top: 0;
    right: 0;
    width: max-content;
    height: max-content;
}

#cover {
    display: grid;
    place-items: center;
    position: relative;
}

article {
    break-after: page;
}

article:not(#cover) {
    position: relative;
}

article h3 {
    position: absolute;
    padding: 0;
    margin: 0;
    right: 0;
}

@media print {
    body {
        -ms-writing-mode: tb-rl;
        writing-mode: vertical-rl;
    }

    #icon {
        -ms-writing-mode: lr-tb;
        writing-mode: horizontal-tb;
    }

    article[hidden] {
        display: block;
    }

    #cover {
        width: 100vw;
        height: 100vh;
    }

    h1 {
        margin: 1vw 0;
    }

    #icon {
        font-size: 6vw;
        letter-spacing: 0.2vw;
        margin: 1vw auto 5vw;
    }

    #icon b {
        display: block;
    }

    article section {
        padding: 5% 10% 10%;
        margin: 1%;
    }

    .object h3 {
        top: 5%;
    }

    .people h3 {
        top: 17.5%;
    }

    .thing h3 {
        top: 30%;
    }

    .valuing h3 {
        top: 42.5%;
    }
}

@page {
    size: A5 portrait;
}