html {
  height: -webkit-fill-available;
}

body,
.scrollable,
.scrollable li {
  padding: 0;
  margin: 0;
}

a  {
  color: #000;
  background-blend-mode: difference;
  text-decoration: none;
  transition: 2.5s;
}

a:hover  {
  filter: invert(.5);
}

.center {
  font-size: 125%;
  place-self: center;
  max-width: 75%;
}

.strong {
  font-size: 125%;
}

.end {
  width: 100%;
  place-self: end;
}

.scrollable::-webkit-scrollbar-thumb,
.scrollable li::-webkit-scrollbar-thumb {
  background: #000;
  border-radius: 4vh;
}

.scrollable::-webkit-scrollbar,
.scrollable li::-webkit-scrollbar {
  width: 4vh;
  height: 4vh;
}

.scrollable {
  list-style: none;
  white-space: nowrap;
  overflow: auto;
  height: 100vh;
  max-height: -webkit-fill-available;
}

.scrollable > * {
  display: inline-block;
}

.scrollable li {
  background-repeat: no-repeat;
  width: 90%;
  height: 97.5%;
  max-width: 750px;
  overflow: auto;
  white-space: normal;
}

.scrollable section {
  display: grid;
  font-size: 90%;
  padding: 1rem;
  height: 100%;
}

@media screen and (max-width: 550px) {
  .scrollable {
    font-size: 3.21vw;
  }
}