#parallax,
#parallax span {
  padding: 0;
  margin: 0;
}

#parallax span {
  position: absolute;
  width: 50vw;
  height: 50vw;
  padding-bottom: 50vh;
  max-width: 500px;
  max-height: 500px;
  background-position: center;
  background-repeat: no-repeat;
}

#cover {
  float: right;
  display: block;
  margin: 0 2.5% 5%;
  width: 40%;
  max-width: 500px;
}

@media screen and (max-width: 750px) {
  #cover {
      clear: both;
      float: none;
      width: 75%;
      margin: auto;
      max-width: 75%;
  }
}

.img_000 {
  background-image: url(img/000.jpg);
  background-size: 100%;
  top: 111%;
  left: 0;
  z-index: -5;
}

.img_004 {
  background-image: url(img/004.JPG);
  background-size: 100%;
  top: 350%;
  right: 5%;
  z-index: -2;
}

.img_005 {
  background-image: url(img/005.JPG);
  background-size: 75%;
  top: 250%;
  left: 0%;
  z-index: -1;
}

.img_006 {
  background-image: url(img/006.JPG);
  background-size: 90%;
  top: 275%;
  right: 20%;
  z-index: -3;
}

.img_007 {
  background-image: url(img/007.JPG);
  background-size: 100%;
  top: 275%;
  left: 10%;
  z-index: -2;
}

.img_008 {
  background-image: url(img/008.JPG);
  background-size: 100%;
  top: 222%;
  left: 10%;
  z-index: -3;
}

.img_009 {
  background-image: url(img/009.JPG);
  background-size: 125%;
  top: 275%;
  right: 10%;
  z-index: -4;
}

#footer {
  position: fixed;
  z-index: 100;
  bottom:-100vh;
  left:0;
  text-shadow:
  1px 1px 0 #fff,
  2px 2px 0 #fff;
}
